html{
    font-size: 10px;
}

body{
    background-color: cadetblue;
    font-family: sans-serif;
    font-size: 20px;
}

p{
    margin: 3rem;
}

.words{
    max-width: 500px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    padding: 2rem;
    position: relative;
}

